<!doctype html>
<html lang="en">

<html>
<head> 
	<meta charset = "utf-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='animation_style.css') }}">
	<link rel="icon" type="image/png" href="/static/image/favicon.png"/>

	<style type="text/css">
	body {
		background-color: 	#262b2b;
	}
	</style>


	<title> MP3-downloader </title>
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="header_inner">
			<div class="header-title">
				<div class="logo"></div>
				<a class="header_title" href="\index"><b>MP3-downloader</b>	</a>
			</div>
				<nav class="nav">
					<a class="nav_link" href="#about"> About </a>
				</nav>
			</div>
		</div>
	</header>

	<div class="search">
		<div class="container">
			<h1 class="search_title"> Search for video</h1>
			<div class="search_interact">
				<form id="search_form" action="{{url_for('search')}}" method="POST" novalidate>
					<input type="text" id="search_input" name="search_input" class="search_input" placeholder="Enter video link or title here..." autocomplete="on">
					<input type="submit" class="search_button" name="search_button" value="Search" onclick="search_click()">
					<div class "flash_info">
					<p id="message_text">
							{%if get_flashed_messages() %}
							{{get_flashed_messages().pop()}}
							{%endif%}
					</p>
					</div>
					<div class="loading" id="loading">
						<div id="square">
							<div id="square_1" class="square"></div>
							<div id="square_2" class="square"></div>
							<div id="square_3" class="square"></div>
							<div id="square_4" class="square"></div>
							<div id="square_5" class="square"></div>
							<div id="square_6" class="square"></div>
							<div id="square_7" class="square"></div>
							<div id="square_8" class="square"></div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	{%if videos%}
		{% for video in videos %}
			<div class="result_container">
				<div class="number">
					<h1>{{video.number}}</h1>
				</div>
				<div class="text_description">
					<h4>{{video.title}}</h4>
					<p>{{video.description}}</p>
				</div>
					<form class="buttons"  action="{{url_for('download')}}" method="POST" novalidate>
						<input type="button" class="container_button" name="button" id="show_button{{video.number}}" value="Show"   onclick="show_click({{video.number}}, '{{video.link}}')">	
						{%if  video.ready%}
							<input type="submit" class="container_button_ready" name="button" value="Save">	
						{%else%}
							<input type="submit" class="container_button" name="button" value="Download" onclick="download_click()">	
						{%endif%}
						<input type="text" class="title_saver" name="data" value="{{video.number}}">	
					</form>
			</div>
				<div id="video{{video.number}}" style="display:none;">
					<iframe  class="video" height="300" src="{{video.link}}"></iframe>
				</div>
		{%endfor%}
	{%endif%}

		<div class="container_more">
		</div>

	<footer> 
		<div class="footer">
			<a name="about"></a>
              <p>MP3-downloader is the free service which allow you to download video from youtube with mp3 format.</p>
			  <p>How to use it? - Simple:</p>
              <ul class="footer-list">
                <li> Enter video link or video title into search bar</li>
                <li> Click "search" and choose appropriate video</li>
                <li> Push download button and wait for file</li>
                <li> Save file on your computer</li>
              </ul>
			<div class="end"></div>
		</div>
	</footer>

</body>

<script type="text/javascript" src="{{ url_for('static',filename='script.js') }}"></script>
</html>
